*{
    font-family: "Undertale" ;
}
    
a{
    text-decoration: none;
    color: white;
}

@font-face{
    font-family: "Undertale";
    src: url('font/MonsterFriendBack.otf');
}

body{
    background-color: black;
    color: white
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 10vh;
}

#buttonPlay{
    height: 100px;
    width: 200px;
    font-size: x-large;
}

main{
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
}